
/* BACKGROUND IMAGE */

html { 
    background: url("../images/nika-akin-HxJdxLMUjsI-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* UNDER CONTRUCTION TITLE */

.title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 1em;
    margin-left: 80px;
    margin-top: 240px;
}

/* MESSAGE  */

.message {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    margin-left: 85px;
    margin-top: -30px;
    width: 430px;
}

/* CONNECT WITH ME */

.connect {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    margin-left: 85px;
    margin-top: 30px;
    width: 430px;

}

/* ANCHOR TAGS */

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
}


@media only screen and (max-width: 768px) {
    /* UNDER CONTRUCTION TITLE */

.title {
    font-size: 50px;
    margin-left: 65px;
}

/* MESSAGE  */

.message {
    font-size: 14px;
    margin-left: 70px;
    margin-top: -10px;
    width: 270px;
}

/* CONNECT WITH ME */

.connect {
    font-size: 14px;
    margin-left: 70px;
    width: 270px;
}

}

@media only screen and (max-width: 480px) {
    /* UNDER CONTRUCTION TITLE */

.title {
    font-size: 36px;
    margin-left: 30px;
    margin-top: 140px;
}

/* MESSAGE  */

.message {
    font-size: 14px;
    margin-left: 35px;
    margin-top: 20px;
    width: 190px;
}

/* CONNECT WITH ME */

.connect {
    font-size: 14px;
    margin-left: 35px;
    width: 190px;
}

}

@media only screen and (max-width: 360px) {
    /* UNDER CONTRUCTION TITLE */

.title {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 140px;
}

/* MESSAGE  */

.message {
    font-size: 12px;
    margin-left: 35px;
    margin-top: 20px;
    width: 140px;
}

/* CONNECT WITH ME */

.connect {
    font-size: 12px;
    margin-left: 35px;
    width: 140px;
}

}