html { 
    background: url("../images/nika-akin-HxJdxLMUjsI-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* .container {
    background-image: url("../images/nika-akin-HxJdxLMUjsI-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
} */

.title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 1em;
    margin-left: 80px;
    margin-top: 240px;
}
